.footer {
    padding: 2rem 0;
    background-color: $primary;
    
}
.small-text {
    border-top: 1px solid #F7A49C;
    color: $white;
    display: block;
    text-align: center;
    padding: 2rem 0;
}
.form-text::placeholder,
.form-email::placeholder,
.text-area::placeholder {
    color: $white;
}
