
.flex {
    justify-content: space-between;
}
.header-position .flex {
    display: flex;

}
// logo part
.header-brand{
    li {
        display: inline-block;
    }
    .brand-name {
        border-left: 1px solid $white;
        padding-left: 1rem;
    }
    .brand-logo {
        padding-right: 1rem;
        font-size: 1.5rem;
    }
}
// menu list flex

.list-items {
    // padding-left: 1.5rem;
    margin-left: 1.5rem;
}
.active {
    border-bottom: 1.5px solid tomato;
    
}

// header 
.header {
    padding: 2rem 0;
    // background-color: yellow;
    color: $white;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    
    a {
        text-decoration: none;
        color: $white; 
        &:hover {
            border-bottom: 1.5px solid tomato;
        }
    }
    .sub-list-items a:hover {
        border-bottom: 0 !important;
    }
}

// dropdown
.dropdown {
    position: relative;
}
.fa-chevron-down {
    margin-right: 0.3rem;
}
.sub-list-box {
    position: absolute;
    padding: 20px 0 !important;
    display: none;
    left: 50%;
    transform: translateX(-137px);

    
}
.sub-list {
    // text-align: start;
    background-color:$white;
    border-radius: 16px;
    padding: 10px 0;
    .sub-list-items {
        border-bottom: 1px solid gray;
        padding: 15px 50px 15px 15px;
        width: 12rem;
        &:hover{
            background-color: $primary;
        }
        
        // font-size: 1rem;
        
       a {
            color: gray;
        }
        &:nth-child(4) {
            border: none;
        }
    }
}

.dropdown:hover .sub-list-box {
    display: block ;
}


// hamburger
.bars-anchor {
    border: 1px solid $white;
    padding: 0.5rem 0.8rem;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 1em;
}
.fa-bars {
    padding-right: 0.5rem;
}
.toggle,
.bars,
.fa-times {
    display: none;
}
#hide {
    display: block;
}
.close-menu {
    display: none;
}

.sub-list2-box {
    position: absolute;
    padding: 20px 0 !important;
    display: none;
    left: 50%;
    transform: translateX(-284px);
    top: 135px;
}
.sub-list2 {
    // text-align: start;
    background-color:$white;
    border-radius: 16px;
    padding: 10px 0;
    .sub-list2-items {
        border-bottom: 1px solid gray;
        padding: 15px 50px 15px 15px;
        width: 12rem;
        &:hover{
            background-color: $primary;
        }
        
        // font-size: 1rem;
        
       a {
            color: gray;
        }
        &:nth-child(4) {
            border: none;
        }
    }
}
.dropdown {
    position: relative;
}
.dropdown2:hover .sub-list2-box {
    display: block ;
}


// responsive 
@media screen and (max-width: 768px) {
    // .header {
    //     padding: 1rem 0;
    // }
    .container {
        padding: 0 2rem;
    }
    .header-brand{
        .brand-name {
            display:none;
        }
        .brand-logo {
            font-weight: 300 !important;
            font-size: 1rem !important;
            position: absolute;
            top: 43px;
            z-index: 222;
            
        }
    }

    .menu-list {
        display: none;
        position: absolute;
        left: 107px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        height: 100vh;
        background-color: rgb(31, 32, 32);
        // padding: 20px 20px;
        padding-right: 25px;
        overflow: scroll;
        padding-top: 30px;
        

        // &:last-child {
        //     border-bottom: 0;
        // }
        
        .flex {
            flex-direction: column;
            
                &:last-child {
                    border-bottom: 0 !important;
                
                }
            
                .padding-list-items  {
                    padding: 10px 0 10px 0;
                }
                .border-list-items {
                     border-bottom: 1px solid gray !important;
                     width: 12rem;
                     margin-left: 1rem;
                }
                // .dropdown {
                //     width:100% !important;
                //     border-bottom: 1px solid gray !important;
                // }
                
        .margin {
            margin-left: 1rem !important;
        }    
        }
        .active {
            border-bottom: 0 !important;
        }
        a:hover {
            border-bottom: 0 !important;
            color: $primary;
            
        }

    }
    .bars {
        display: block;
        position: relative;
        // z-index: 111;
        top: 0;
        // padding-right: 10px;
        border: 1px solid white;
        border-radius: 5px;
        padding: 10px 15px;
    }
    .toggle:checked ~ .menu-list, .toggle:checked ~ .close-menu {
        display: block;
    }
    .toggle:checked ~ .bars {
        z-index: 0;
    }
    
    // .toggle:checked ~ .bars {
    //     display: none;
    // }
    // .dropdown:hover .sub-list-box {
    //     display: none;
    // }
    // #hide:checked ~ .menu-list {
    //     display: none;
    // }
    
    .dropdown {
        .fa-chevron-down {
            display: none;
        }
        
    }
    .list-items {
        .sub-list-box {
            position: static !important;
            left: 50%;
            transform: translateX(-9px);
            display: block;
            padding: 0 !important;
            
        }
        .sub-list {
            background-color: transparent;
            padding : 10px 0 0 0 !important; 
            &:nth-child(1){
                // border-top: 1px solid gray;
                border-radius: 0 !important;
                
            }
            .sub-list-items {
            // border-bottom: 1px solid gray !important;
            background-color: transparent;
            padding-left: 25px;
            }
            a:hover {
                color: $primary !important;
            }
        }

    }
    // .menu-list {
    //     .flex {
    //         &:nth-child(2) {
    //             padding: 10px 0 !important;
    //         }
    //     }
    // }
    .dropdown {
        padding-bottom: 20px !important;
    }
    .close-menu {
        display: none;
        position: absolute;
        top: 13px;
        left: 297px;
        // bottom: 10px;
        // right: 10px;
        z-index: 2000;
    }    
    .sub-list2-box {
        position: static !important;
        left: 50%;
        transform: translateX(-25px);
        display: block;
        margin-bottom: -39px;
    }
    .sub-list2 {
        background-color: transparent !important;
        padding: 0px 0px;
        &:last-child{
            padding-bottom: 0 !important;
        }
    }
    .sub-list2-items {
        // border-bottom: 1px solid gray !important;
        background-color: transparent !important;
        &:last-child {
            border-bottom: 0 !important;
        }
        a {
            padding-left: 21px;
        }
        a:hover {
            color: $primary !important;
        }
        
    }
   

}
